/*     _       _           _
      | |     | |         | |
  __ _| | ___ | |__   __ _| |
 / _` | |/ _ \| '_ \ / _` | |
| (_| | | (_) | |_) | (_| | |
 \__, |_|\___/|_.__/ \__,_|_|
  __/ |                      
 |___/  
*/
*{
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif, Arial;
}
/*between-page animations*/
.transition-fade {
    opacity: 1;
}
html.is-animating .transition-fade {
    opacity: 0;
}
html.is-animating .sidenav .transition-current {
    background-color: transparent;
}
html.is-animating .sidenav .show2a a:nth-child(n+2){
    padding: 0px 8px 0px 52px;
    height: 0px;
    opacity: 0;
}
html.is-animating hr {
    max-width: 0px;
}

/*
     _     _                                   
    (_)   | |                                  
 ___ _  __| | ___   _ __ ___   ___ _ __  _   _ 
/ __| |/ _` |/ _ \ | '_ ` _ \ / _ \ '_ \| | | |
\__ \ | (_| |  __/ | | | | | |  __/ | | | |_| |
|___/_|\__,_|\___| |_| |_| |_|\___|_| |_|\__,_|
*/

.sidenav { /*side navigation menu style*/
    height: 100%; 
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -320px;
    background-color: #1a7fba;
    overflow-x: hidden;
}
.sidenav.open { /*when the side menu is open*/
    transform: translate3d(320px, 0px, 0px);
}
.sidenav .logo {/*position the logo at the top of the sidenav*/
    position: relative;
    padding: 10px;
    left: 40px;
    width: 240px;
}
.sidenav a:first-child { /*style for main links in sidenav*/
    padding: 10px 8px 10px 32px;
    text-decoration: none;
    height: 30px;
    font-size: 25px;
    color: #FFF;
    display: block;
    text-shadow: 0 0 2px black;
    white-space: nowrap;
    opacity: 1;
}
.sidenav a { /*style for sub-links in sidenav*/
    padding: 0px 8px 0px 52px;
    text-decoration: none;
    height: 25px;
    font-size: 20px;
    color: #FFF;
    display: block;
    text-shadow: 0 0 2px black;
    white-space: nowrap;
    height: 0px;
    opacity: 0;
}
.sidenav a:hover { /*change link style on hover*/
    text-shadow: 0 0 2px white;
}
.sidenav .transition-current {/*highlight current page*/
    background-color: #6296b5;
}/*show sublinks for current page*/
.sidenav .show2a:hover a:nth-child(n+2){
    padding: 10px 8px 10px 52px;
    height: 25px;
    opacity: 1;
}


/*
 _                _                
| |              | |               
| |_ ___  _ __   | |__   __ _ _ __ 
| __/ _ \| '_ \  | '_ \ / _` | '__|
| || (_) | |_) | | |_) | (_| | |   
 \__\___/| .__/  |_.__/ \__,_|_|   
         | |                       
         |_|                       
*/
.topbar { /*top bar style*/
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 52px;
    z-index: 2;
    background-color: 1a7fba;

}
.topbar .logo {
    height: 52px;
    display: block;
    margin: auto;
}
.menubtn {
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 7px;
    outline: none;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0px;
    border-radius: 2px;
}
.open .bar1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    transform: rotate(45deg) translate(-7px, -7px);
}


/*
 _               _       
| |             | |      
| |__   ___   __| |_   _ 
| '_ \ / _ \ / _` | | | |
| |_) | (_) | (_| | |_| |
|_.__/ \___/ \__,_|\__, |
                    __/ |
                   |___/                
*/
body { /*body styling*/
    background-image: linear-gradient(#f5f5f5, #e5e5e5);
    background-attachment: fixed;
}
.main{
    position: absolute;
    margin: 45px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    overflow-x: hidden;
    
}
hr {
    border: none;
    background-color: 1a7fba;
    height: 1px;
    width: 100%;
    max-width: 580px;
    margin: 10px 0px;
}
.main h1 {
    color:#404040;
    line-height: 1.0;
    font-size: 1.7em;
    font-weight: 700;
    margin: 10px 0px;
}
.main h2 {
    color:#404040;
    line-height: 1.0;
    font-size: 1.4em;
    font-weight: 400;
    margin: 10px 0px;
}
.main h3 {
    color:#404040;
    line-height: 1.1;
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0px;
}
.main a {
    color: #404040;
    
}

/*Flex elements*/
.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.flexitemdivis {
    width: 200px;
    max-width: 100%;
    padding: 30px;
}
.flexitemteam {
    width: 200px;
    max-width: 100%;
    padding: 30px;
}
.flexitemteam img {
    width: 100%;
    border-radius: 50%;
}

/*
  _____            _    _                                        _  __ _      
 |  __ \          | |  | |                                      (_)/ _(_)     
 | |  | | ___  ___| | _| |_ ___  _ __ ______ ___ _ __   ___  ___ _| |_ _  ___ 
 | |  | |/ _ \/ __| |/ / __/ _ \| '_ \______/ __| '_ \ / _ \/ __| |  _| |/ __|
 | |__| |  __/\__ \   <| || (_) | |_) |     \__ \ |_) |  __/ (__| | | | | (__ 
 |_____/ \___||___/_|\_\\__\___/| .__/      |___/ .__/ \___|\___|_|_| |_|\___|
                                | |             | |                           
                                |_|             |_|                           
*/
@media only screen and (min-width: 768px) {
    .topbar {
        height: 0px;
    }
    .sidenav {
        transform: translate3d(320px, 0px, 0px) !important;
    }   
    .sidenav .logo {
        left: 0px;
        width: 280px;
    }
    .main {
        transform: translate3d(0px, 0px, 0px) !important;
        margin: 0px 0px 0px 300px;
        padding-top: 10px
    }
    .main h1 {
    font-size: 2.1em;
    }
    .main h2 {
        font-size: 1.7em;
    }
    .main h3 {
        font-size: 1.3em;
    }
    .menubtn {
        display: none !important;
    }
}